{{template "base" .}}
{{define "content"}}
<style>
    .my-footer{
        height: 5em;
        background-color: rgb(12, 161, 131);
        margin-top: 1em;
        padding: 1em;
        color: white;
        font-size: 80%;
    }
    .room-image {
        max-width: 50%;
    }
</style>

<div class = "container">
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <img src="/static/images/marjors-suite.png" alt="room-img" class="img-fluid rounded mx-auto d-block room-image">
        </div>
    </div>

    <h1 class="text-center mt-4">Major's Suit</h1>
    <p>Your home away from home Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corporis hic quae eos consequatur delectus error provident non eveniet ipsa molestias atque est, inventore incidunt doloremque assumenda! Et ullam unde totam.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime recusandae blanditiis exercitationem, corporis aspernatur alias possimus molestias voluptas expedita, quibusdam laborum modi mollitia facere facilis nobis dolore nam deleniti. Iure!
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempora ex doloribus soluta vitae nesciunt numquam, nobis libero, consequatur praesentium voluptates hic enim doloremque, animi repellendus! Omnis vitae explicabo aperiam dignissimos!
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illum non nam nostrum eligendi repellendus. Dolor natus quibusdam dolores veritatis qui, atque cumque? Excepturi molestiae soluta, quos sed ipsam architecto deleniti?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, dolores facilis! Temporibus adipisci architecto nulla repellat ullam, excepturi porro debitis blanditiis dolorum laboriosam repellendus quasi non perspiciatis aperiam, est dolore.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo distinctio deserunt ipsam nam impedit, ipsum commodi aliquam, reiciendis temporibus vel eos facere totam sunt blanditiis. Ipsum impedit itaque optio repellat?
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iusto delectus ipsa dolorum saepe, eum tenetur excepturi, cupiditate minima perferendis ullam esse laborum optio eveniet nesciunt aut sunt enim alias recusandae.
    </p>  

<div class="row">
    <div class="col text-center">
        <a href = "/make-reservation-gq" class="btn btn-success">Check Availablity</a>
    </div>
</div>
</div>
<div class="row my-footer">
    <div class="col">
        LEFT
    </div>
    <div class="col">
        MIDDLE
    </div>
    <div class="col">
        RIGHT
    </div>

{{end}}